@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('/shadcn.css');

.ButtonGroup-actions {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.ButtonGroup--center .ButtonGroup-actions {
  justify-content: center;
}